# Module1-Ex3 - Getting and Knowing your Data

- Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries and read the dataset `chipo.csv`

In [50]:
import pandas as pd
import numpy as np
df = pd.read_csv('chipo.csv')

### Step 2. See the first 10 entries

In [52]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 3. What is the number of observations in the dataset?

In [54]:

df.shape

(4622, 5)

### Step 4. What is the number of columns in the dataset?

In [56]:
df.shape[1]

5

In [57]:
len(df.columns)

5

### Step 5. Print the name of all the columns.

In [59]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [60]:
for col in df.columns:
    print(col)

order_id
quantity
item_name
choice_description
item_price

### Step 6. How is the dataset indexed?

In [62]:
df.index

RangeIndex(start=0, stop=4622, step=1)

### Step 7. Which was the most-ordered item?

In [64]:
pd.DataFrame(df.groupby('item_name')['quantity'].sum()).sort_values(['quantity'],ascending = False).head(1)

              quantity
item_name
Chicken Bowl       761

### Step 8. For the most-ordered item, how many items were ordered?

In [66]:
pd.DataFrame(df.groupby('item_name').sum()).sort_values(['quantity'],ascending = False).head(1)['quantity']

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 9. What was the most ordered item in the choice_description column?

In [68]:
i = df.groupby('choice_description').sum()
i = i.sort_values(['quantity'], ascending=False)
i.head(1)

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...

### Step 10. How many items were orderd in total?

In [70]:
items_ordered_total = df.quantity.sum()
print(items_ordered_total)

4972

### Step 11. Turn the item price into a float

#### Step 11.a. Check the item price type

In [73]:
df.item_price.dtype

dtype('O')

#### Step 11.b. Create a lambda function and change the type of item price

In [75]:
i = lambda x: float(x[1:-1])
df.item_price = df.item_price.apply(i)

#### Step 11.c. Check the item price type

In [90]:
df.item_price.dtype

dtype('float64')

### Step 12. How much was the revenue for the period in the dataset?

In [95]:
revenue = (df['quantity']* df['item_price']).sum()
print(revenue)

39237.02

### Step 13. How many orders were made in the period?

In [93]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 14. What is the average revenue amount per order?

In [103]:
df.order_id.value_counts()

order_id
926     23
1483    14
205     12
759     11
1786    11
        ..
768      1
341      1
1048     1
94       1
1199     1
Name: count, Length: 1834, dtype: int64

In [111]:
df['revenue'] = df['quantity'] * df['item_price']

In [113]:
df.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [121]:
order_grouped = df[["order_id",	"revenue"]].groupby(by=['order_id']).sum()

In [123]:
order_grouped.head()

          revenue
order_id
1           11.56
2           33.96
3           12.67
4           21.00
5           13.70

In [125]:
order_grouped.revenue.mean()

21.39423118865867

### Step 15. How many different items are sold?

In [99]:
df.item_name.value_counts().count()

50

In [101]:
df.item_name.value_counts()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64